.gantt-container-holder {
  width: 100%;
  position: relative;
}
.gantt-container {
  font-family: Arial, serif;
  font-size: 13px;
  border: 1px solid #cecece;
  position: relative;
  white-space: nowrap;
  margin-top: 0;
}
